<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>ring_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{256,64}}</string>
                <key>sourceSize</key>
                <string>{258,70}</string>
            </dict>
            <key>ring_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{204,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{204,52}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>ring_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,208},{160,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{160,46}}</string>
                <key>sourceSize</key>
                <string>{162,50}</string>
            </dict>
            <key>tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,370},{35,282}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{35,282}}</string>
                <key>sourceSize</key>
                <string>{37,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_artifacts-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aad184b89b818358ab18b940050d9550$</string>
            <key>textureFileName</key>
            <string>game_artifacts-hd.png</string>
        </dict>
    </dict>
</plist>
